@model MyCRUDApp.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-4">Employee Details</h1>

<div class="card shadow-sm">
    <div class="card-body">
        <h4 class="card-title mb-4">Employee</h4>
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Phone)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Phone)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.City)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.City)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Country)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Country)</dd>
        </dl>
    </div>
</div>

<div class="mt-4 d-flex gap-2">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
